{% with request.resolver_match.url_name as url_name %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top shadow-sm">
    <div class="container-md">
        <div class="navbar-brand font-Lobster user-select-none">
            PetClinic
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav gap-lg-2 me-auto">
                <li class="nav-item">
                    <a class="nav-link{% if url_name|startswith:'index' %} active{% endif %}" href="{% url 'index' %}">
                        <i class="fas fa-fw fa-home"></i> Inicio
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link{% if 'pet' in request.resolver_match.app_names %} active{% endif %}"
                        href="{% url 'pet:' %}">
                        <i class="fas fa-fw fa-paw"></i> Mascotas
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if 'appointment' in request.resolver_match.app_names %} active{% endif %}"
                        href="{% url 'appointment:' %}">
                        <i class="fas fa-fw fa-calendar-day"></i> Citas
                    </a>
                </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav gap-lg-2 mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{ user }}
                        </button>
                        <div class="dropdown-menu text-center">
                            <a href="{% url 'logout' %}"
                                class="dropdown-item text-danger d-flex gap-1 align-items-center">
                                <i class="fas fa-fw fa-sign-out-alt" aria-hidden="true">
                                </i><span class="flex-grow-1">Cerrar sesión</span>
                            </a>
                        </div>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link{% if url_name|startswith:'login' %} active{% endif %}" href="{% url 'login' %}">
                        Iniciar sesión
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if url_name|startswith:'register' %} active{% endif %}"
                        href="{% url 'register' %}">
                        Registrarme
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endwith %}