<div layout:decorate="~{fragments/layout}">
    <div layout:fragment="content">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <div class="row align-items-center">
                    <div class="col-12 text-center">
                        <h1>Bienvenid@ a Pet Clinic</h1>
                        <h2 class="text-muted">¡Reserve su cita ahora!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>