{% extends 'components/layout.html' %}

{% block content %}
<div class="row justify-content-center align-items-center">
    <div class="col-12 col-lg-7">
        <form class="card shadow" method="post">
            {% csrf_token %}
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-12">
                        {% with field=form.email %}
                        <div class="form-floating">
                            {{ field }}
                            {{ field.label_tag }}
                        </div>
                        {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ field.errors }}
                        </div>
                        {% elif field.help_text %}
                        <div class="form-text">
                            {{ field.help_text }}
                        </div>
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-12">
                        {% with field=form.password1 %}
                        <div class="form-floating">
                            {{ field }}
                            {{ field.label_tag }}
                        </div>
                        {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ field.errors }}
                        </div>
                        {% elif field.help_text %}
                        <div class="form-text">
                            {{ field.help_text }}
                        </div>
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-12">
                        {% with field=form.password2 %}
                        <div class="form-floating">
                            {{ field }}
                            {{ field.label_tag }}
                        </div>
                        {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ field.errors }}
                        </div>
                        {% elif field.help_text %}
                        <div class="form-text">
                            {{ field.help_text }}
                        </div>
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-12 col-sm-5">
                        {% with field=form.first_name %}
                        <div class="form-floating">
                            {{ field }}
                            {{ field.label_tag }}
                        </div>
                        {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ field.errors }}
                        </div>
                        {% elif field.help_text %}
                        <div class="form-text">
                            {{ field.help_text }}
                        </div>
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-12 col-sm-7">
                        {% with field=form.last_name %}
                        <div class="form-floating">
                            {{ field }}
                            {{ field.label_tag }}
                        </div>
                        {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ field.errors }}
                        </div>
                        {% elif field.help_text %}
                        <div class="form-text">
                            {{ field.help_text }}
                        </div>
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-12">
                        {% with field=form.address %}
                        <div class="form-floating">
                            {{ field }}
                            {{ field.label_tag }}
                        </div>
                        {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ field.errors }}
                        </div>
                        {% elif field.help_text %}
                        <div class="form-text">
                            {{ field.help_text }}
                        </div>
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-12">
                        {% with field=form.birthday %}
                        <div class="form-floating">
                            {{ field }}
                            {{ field.label_tag }}
                        </div>
                        {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ field.errors }}
                        </div>
                        {% elif field.help_text %}
                        <div class="form-text">
                            {{ field.help_text }}
                        </div>
                        {% endif %}
                        {% endwith %}
                    </div>
                    {% if form.non_field_errors %}
                    <div class="col-12">
                        <div class="invalid-feedback d-block m-0">
                            {{ form.non_field_errors }}
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-12 d-grid">
                        <input type="submit" class="btn btn-primary btn-lg" value="Registrarme" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}