{% extends 'components/layout.html' %}

{% block content %}
<div class="row g-3 justify-content-center align-items-center">
    <div class="col-12 col-md-8 col-xl-6">
        <div class="card table-responsive shadow">
            <div class="card-body">
                <form class="row g-3" method="post">
                    {% csrf_token %}
                    {% with field=form.owner %}
                    {% if field %}
                    <div class="col-12">
                        <div class="form-floating">
                            {{ field }}
                            {{ field.label_tag }}
                        </div>
                        {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ field.errors }}
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endwith %}

                    {% with field=form.name %}
                    {% if field %}
                    <div class="col-12">
                        <div class="form-floating">
                            {{ field }}
                            {{ field.label_tag }}
                        </div>
                        {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ field.errors }}
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endwith %}

                    {% with field=form.race %}
                    {% if field %}
                    <div class="col-12">
                        <div class="form-floating">
                            {{ field }}
                            {{ field.label_tag }}
                        </div>
                        {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ field.errors }}
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endwith %}

                    {% with field=form.sex %}
                    {% if field %}
                    <div class="col-12">
                        <div class="form-floating">
                            {{ field }}
                            {{ field.label_tag }}
                        </div>
                        {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ field.errors }}
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endwith %}

                    {% with field=form.birthday %}
                    {% if field %}
                    <div class="col-12">
                        <div class="form-floating">
                            {{ field }}
                            {{ field.label_tag }}
                        </div>
                        {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ field.errors }}
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endwith %}

                    {% with field=form.annotations %}
                    {% if field %}
                    <div class="col-12">
                        <div class="form-floating">
                            {{ field }}
                            {{ field.label_tag }}
                        </div>
                        {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ field.errors }}
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endwith %}

                    {% with field=form.deceased %}
                    {% if field %}
                    <div class="col-12">
                        <div class="form-check form-switch">
                            {{ field }}
                            <label class="form-check-label" for="{{ field.auto_id }}">
                                {{ field.label }}
                            </label>
                        </div>
                        {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ field.errors }}
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endwith %}

                    {% if form.non_field_errors %}
                    <div class="col-12">
                        <div class="invalid-feedback d-block m-0">
                            {{ form.non_field_errors }}
                        </div>
                    </div>
                    {% endif %}

                    <div class="col-12 d-grid">
                        <input type="submit" class="btn btn-primary btn-lg" value="Guardar cambios" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}